body{
    padding-top: 100px;
    color: #333333 !important;
}
.results{
    display: none;
}
.results input{ 
    width: 50%;
    padding-left: 19%;
}
.results .a2{
    padding-left: 23%;
    display: none;
}
